@{
    ViewData["Title"] = "Iniciar Sesion";
}

<div class="auth-container">
    <h2>Iniciar Sesión</h2>

    <form action='@Url.ActionLink("IniciarSesion", "Account")' method="post">
        <label for="inicio">Nombre de usuario o Email:</label>
        <input type="text" id="inicio" name="inicio" class="input-field" required />

        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" class="input-field" required />

        <button type="submit" class="btn-primary">Iniciar Sesión</button>
        <p>
            <a href='@Url.ActionLink("OlvideMiContraseña", "Account")' class="olvide-contraseña">Olvidé mi contraseña</a>
        </p>
    </form>

    @if (ViewBag.MensajeError != null)
    {
        <p class="error-message">@ViewBag.MensajeError</p>
    }
</div>