@{
    ViewData["Title"] = "Index";
}

<h1 class="index-title">Bienvenido a Clean IT</h1>
<p class="index-subtitle">Tu plataforma de limpieza.</p>

<div class="landing-buttons">
    <a href='@Url.Action("Registrar", "Account")' class="button index-button">Regístrate</a>
    <a href='@Url.Action("IniciarSesion", "Account")' class="button index-button">Iniciar Sesión</a>
</div>