@{
    ViewData["Title"] = "Index";
}

<h1>Bienvenido a Clean IT</h1>
<p>Tu plataforma segura para gestionar usuarios.</p>

<div class="landing-buttons">
    <a href='@Url.Action("Registrar", "Account")' class="button">Regístrate</a>
    <a href='@Url.Action("IniciarSesion", "Account")' class="button">Iniciar Sesión</a>
</div>